doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='description', content='apprentissage de html/css/javascript/node/express/jade/backbone')
    meta(name='author', content='Jef')
    title Lost Login page
    link(rel='stylesheet', href='site.css')
  body
    img.logo(src='sapin.svg', width='250px', style='margin-left:auto;margin-right:auto;display:block;margin-top:20px;')
    p(style='text-align:center')
      | For security reasons, password reset can only be performed by your administrator. Contact him.