doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='description', content='apprentissage de html/css/javascript/node/express/jade/backbone')
    meta(name='author', content='Jef')
    title Password change
    link(rel='stylesheet', href='site.css')
  body
    form(id="login", method="POST", action="/password")
      h1 Password change
      .inset
        label(for='oldpassword') OLD PASSWORD
        input#oldpassword(type='password', name='oldpassword', value='', required=true)
        label(for='password') NEW PASSWORD
        input#password(type='password', name='password', required=true)
        label(for='password2') CONFIRM PASSWORD
        input#password2(type='password', name='password2', required=true)
      p.p-container
        input#go(type="submit", value="Validate", name="confirm")
    h2!=message
